<html lang=”en”>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Camera App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <link rel="stylesheet" href="stylesheets/camera.css">
</head>
<body>
    <main id="camera">
        <canvas id="camera--sensor"></canvas>
        <div id="video_box">
        <div id="clippedDiv"></div>
        <div>
        <video id="camera--view" autoplay playsinline></video>
        </div>
        <img src="//:0" alt="" id="camera--output">
      </div>
    </main>
    <script src="javascripts/sock.js"></script>
</body>
</html>

<!--
<div id="wrap_video">

<div id="video_box">
    <div id="video_overlays"></div>
    <div>
        <video id="player" src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv"  type="video/mp4" onclick="this.play();">Your browser does not support this streaming content.</video>
    </div>
</div>

</div>
-->
